#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;

}
body {
  background-image: url('../src/assets/bg.webp'); /* Replace 'path_to_your_image.jpg' with the path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: repeat; /* Prevent the background image from repeating */
  /* opacity: 0.6; */
}
.navList {
  /* border: 0.2em solid black; */
  justify-content:center;
  font-weight: bold ;
  color: red ;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.active {
  font-weight: bold;
  color: #2185d0 !important; /* Override default active color with !important */
}



