.game-results-container {
  text-align: center;
  /* background-image: linear-gradient(to bottom right, rgb(250, 250, 113), rgb(252, 167, 111)); */
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.game-results-table {
  width: 100%;
  border-collapse: collapse;

}

.game-results-table th,
.game-results-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.game-results-table th {
  background-color: #f2f2f2;
  /* background-image: linear-gradient(to bottom right, rgb(250, 113, 113), rgb(150, 128, 248)); */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
