.game-segment {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.pokemon-stats {
  list-style-type: none !important; /* Remove bullet points from list items */
  text-align: center !important;
  margin: 0px;
  padding: 0px;
}
