.home-container {
  padding: 20px;
  /* border: 0.2em solid black; */
  background-color: white;
  /* background-image: linear-gradient(to bottom right, rgb(250, 250, 113), rgb(252, 167, 111)); */
  opacity: 0.8;
  margin: 20px !important;
}

.pokemon-link {
  color: #2185d0;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* .pagination {
 margin: 20px; 
 text-align: center; 
 border: 0.2em solid black !important; 
}  */
