.home-container {
  padding: 20px;
  /* border: 0.2em solid black; */
  background-color: white;
  opacity: 0.5;
  margin: 20px !important;
}

.pokemon-link {
  color: #2185d0;
}

/* .pagination {
 margin: 20px; 
 text-align: center; 
 border: 0.2em solid black !important; 
}  */
